.skillsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsTitle{
  background: linear-gradient(90deg, #2583F7, #D65CFF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem;
  font-size: var(--font-size-h4);
}

.buttonWrapper{
    display: flex;
    gap: 5px;
}

.categoryButton{
    margin: 0 0.25rem 0.5rem;
    background: none;
    border: none;
}

.categoryButton:hover{
    background: linear-gradient(90deg, #2584f727, #d65cff19);;
    border-radius: 5px;
}

.badgeWrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 768px){
    .skillsTitle{
        font-size: var(--font-size-h3);
    }
}

@media (min-width: 1024px){
    .skillsTitle{
        font-size: var(--font-size-h2);
    }
}